body{
	background-color: pink;
}

div{
	display:inline-block;
	background-color: white;
	padding:10px;
	border: 10px solid red;
	margin:20px;

  margin-top:20px;
  margin-right:10px;
  margin-bottom:23px;
  margin-left:14px;

  margin: 10px 20px;
  margin: 10px 34px 12px 56px;
}

p{
	background-color: grey;
	margin:10px;
}

span{
	background-color: white;

	margin: 0px 5px;
}

img{
	height:30px;
}